<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'coffee/bootstrap.min.css' %}" type="text/css">
</head>
<body>
<div class="container">
<form action="{% url 'coffee:order_drink' %}" method="post" class="form-group">
{% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <p>Welcome {{ user.user_name }}</p>
        </div>
    </div>
<div class="row">
    <div id="drinks" class="col-md-6">
    {% if drinks %}
        {% for drink in drinks %}
            <div class="checkbox">
                <p><input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ drink.id }}" {% if drink.amount_left < 1 %} disabled{% endif %}/>
                <label for="choice{{ forloop.counter }}">{{ drink.name }}: {{ drink.price }}</label></p>
            </div>
        {% endfor %}
    {% else %}
        <p>No drinks found</p>
    {% endif %}
    </div>
<div class="col-md-6">
    {% if ingredients %}

        {% for ingredient in ingredients %}
            <div class="checkbox">
                <p><input type="checkbox" name="ingredient" id="ingredient{{ forloop.counter }}" value="{{ ingredient.id }}" {% if ingredient.amount_left < 1 %} disabled{% endif %}/>
                <label for="ingredient{{ forloop.counter }}">{{ ingredient.name }}: {{ ingredient.price }}</label></p>
            </div>
        {% endfor %}

        {% else %}
        <p>No ingredients found</p>
    {% endif %}
</div>
</div>
    <div class="row">
        <input type="submit" value="Order" class="btn btn-success btn-block"/>
    </div>
</form>



</div>

</body>
</html>