{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Success_page_title"%}</title>
    <link rel="stylesheet" href="{% static 'coffee/bootstrap.min.css' %}" type="text/css">
</head>
<body>
<div class="container">
    <h2>{% trans "Success_page_title" %}</h2>
    <p>{% trans "enjoy_your_drink" %}, {{ user.user_name }}</p>
    <p>{% trans "money_left" %}: {{ user.money_left }}</p>
    <a href="{% url 'coffee:order_page' %}" class="btn btn-link">{% trans "order_again" %}</a>
    <a href="{% url 'coffee:logout' %}" class="btn btn-link">{% trans "logout" %}</a>
    <form action="{% url 'set_language' %}" method="post" class="form-group">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
        {% if request.get_full_path|slice:'1:3' == 'uk' %}
            <input name="language" type="hidden" value="en" />
            <input type="submit" value="en" class="btn-info col-md-1"/>
        {% else %}
            <input name="language" type="hidden" value="uk" />
            <input type="submit" value="uk" class="btn-info col-md-1" />
        {% endif %}
    </form>
</div>
</body>
</html>